<head>
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-firestore.js"></script><style>
        body {
            margin: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            max-height: 100vh;
        }

        #header {
            display: flex;
            justify-content: space-between;
            font-size: 6vw;
            background-color: darkblue;
            color: white;
            padding: 0.1em;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            box-shadow: -5px -5px 5px lightgray;
        }

        button {
            border-radius: 4px;
            background-color:royalblue;
            color: white;
            border: none;
            font-size: 6vw;
            padding-left: 1em;
            padding-right: 1em;
        }

        select {
            font-size: 6vw;
        }

        button:hover {
            cursor:pointer;
            background-color:cornflowerblue;
            box-shadow: 5px 5px 5px black;
            margin-top: -2px;
        }

        #subtitles {
            line-height: 1.6;
            overflow-y: auto;
            flex-grow: 1;
            padding-left: 0.25em;
            padding-right: 0.25em;
            margin-bottom: 0;
            max-width: 100vw;
            font-size: 5vw;
            white-space: pre-wrap;
            background-color: white;
        }

        @media screen and (max-width: 450px) {
            #header {
                font-size: 2em;
            } 
        }

    </style>
</head>
<body>
    <div id="subtitles"></div>
    <div id="header">
        <button onclick="previous()">&lt;</button>
        <span id="slideNumber"></span>
        <select onchange="updateSubtitles()" id="lang">
            <option value="fr" selected>fr</option>
            <option value="en">fr</option>
        </select>
        <button onclick="fullscreenToggle()">[ ]</button>
        <button onclick="next()">&gt;</button>
    </div>
    <script>
        window.addEventListener("load", loaded);
        let slidesId;
        let slideNumber = 0;
        let container = document.getElementById("subtitles");
        let slideNumberContainer = document.getElementById("slideNumber");
        let defaultLang;
        let subtitles = [];
        let lang = document.getElementById("lang");
        let fullscreen = false;
        function loaded() {
            let params = new URLSearchParams(location.search);
            let uid = params.get("uid");
            let presentationId = params.get("presentationId");

            let firebaseConfig = {
                apiKey: "AIzaSyAFYR0CGNXe2X4fJDRd2-y4O0zqISS2mjY",
                authDomain: "slidetitle.firebaseapp.com",
                databaseURL: "https://slidetitle.firebaseio.com",
                projectId: "slidetitle",
                storageBucket: "slidetitle.appspot.com",
                messagingSenderId: "sender-id",
                appId: "slidetitle"
            };

            // Initialize Firebase
            window.firebase.initializeApp(firebaseConfig);
            let db = firebase.firestore();
            docRef = db.collection(`users/${uid}/presentations`).doc(presentationId);
            docRef.onSnapshot(function(doc) {
                let data = doc.data();
                slideNumber = data.slideNumber;
                updateSlideNumber();
                if(data.slidesId !== slidesId) {
                    slidesId = data.slidesId;
                    subtitlesRef = db.collection(`users/${uid}/slides`).doc(slidesId);
                    subtitlesRef.get().then(doc => {
                        let d = doc.data();
                        defaultLang = d.defaultLang;
                        subtitles = d.subtitles_multi;
                        updateLangs();
                        updateSubtitles();
                    })
                } else {
                    updateSubtitles();
                }
            });
        }

        function fullscreenToggle() {
            if(!fullscreen) {

                document.body.requestFullscreen();
            } else {
                document.exitFullscreen();
            }
            fullscreen = !fullscreen;
        }

        function updateLangs() {
            lang.innerHTML = "";
            Object.keys(subtitles).forEach((l,index) => {
                let option = document.createElement("option");
                option.value = l;
                option.innerHTML = l;
                if(l === defaultLang) {option.selected = true;}
                lang.appendChild(option);
            });
            lang.style.display = Object.keys(subtitles).length > 1 ? "block" : "none";
        }

        function updateSubtitles() {
            if(subtitles && subtitles[lang.value] && subtitles[lang.value].length >= slideNumber) {
                container.innerHTML = subtitles[lang.value][slideNumber-1];
            }
            container.scrollTop = 0;
        }

        function updateSlideNumber() {
            slideNumberContainer.innerHTML = slideNumber;
        }

        function previous() {
            if(slideNumber > 1) {
                slideNumber--;
                updateSubtitles();
                updateSlideNumber();
            }
        }

        function next() {
            if(slideNumber < subtitles[lang.value].length) {
                slideNumber++;
                updateSubtitles();
                updateSlideNumber();
            }
        }
    </script>
</body>