html {
  --desktop-min-width: 64rem;
  --title-font: "Poppins", sans-serif;

  --chapter-padding-y: 3rem;
  --chapter-padding-x: 1.5rem;
  --chapter-inner-margin: 2rem;
  --container-max-width: 25rem;

  --link-button-height: 2.25rem;
  --link-button-padding: 1rem;
  --link-button-border-radius: 0.25rem;

  --circle-big-size: 9rem;
  --circle-small-size: 1.5rem;
}

@media (min-width: 64rem) {
  html {
    --chapter-padding-y: 5.5rem;
    --chapter-padding-x: 3rem;
    --chapter-inner-margin: 3rem;
    --container-max-width: 80rem;

    --link-button-height: 3.5rem;
    --link-button-padding: 1.5rem;
    --link-button-border-radius: 0.5rem;

    --circle-big-size: 17rem;
    --circle-small-size: 2.5rem;
  }
}

.nowrap {
  white-space: nowrap;
}

/* Chapter */

.chapter {
  display: flex;
  justify-content: center;
  align-items: stretch;

  padding: var(--chapter-padding-y) var(--chapter-padding-x);
  color: var(--grey);
  font-size: 0.875rem;
}

.chapter.image-chapter {
  background-image: var(--bgi);
  background-size: cover;
  background-position: center;
  background-color: var(--dark);
  color: var(--white);
  min-height: 28rem;
}

.header-default ~ main > .chapter:not(.image-chapter):first-child,
.chapter:not(.image-chapter) + .chapter:not(.image-chapter) {
  padding-top: 0;
}

@media (min-width: 64rem) {
  .chapter {
    font-size: 1.5rem;
  }

  .chapter.image-chapter {
    min-height: 40rem;
  }

  .chapter-button-right-top > .chapter__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "title cta" "children children";
    row-gap: var(--chapter-inner-margin);
  }

  .chapter-button-right-top > .chapter__container > * {
    grid-area: children;
    align-self: stretch;
  }

  .chapter-button-right-top > .chapter__container > h3 {
    grid-area: title;
    justify-self: start;
    margin: 0;
  }

  .chapter-button-right-top > .chapter__container > nav {
    grid-area: cta;
    align-self: end;
    justify-self: end;
    margin: 0;
  }
}

/* Containers */

.chapter__container {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: var(--container-max-width);
}

.container-default {
  text-align: center;
}

.container-default > h3 {
  text-align: center;
  margin-bottom: var(--chapter-inner-margin);
}

.container-default > h4 {
  margin-top: -2rem;
  margin-bottom: var(--chapter-inner-margin);
  font-weight: 400;
  font-size: 1.125rem;
}

.container-default > nav {
  text-align: center;
  margin-top: var(--chapter-inner-margin);
}

.container-stretch-y {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.container-community {
  flex-grow: 0;
  align-self: center;
  padding-left: 1.5rem;
  border-left: 4px solid var(--white);
  text-align: left;
}

.container-community > h4 {
  font-weight: 400;
  margin: 0.5em 0 1em;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 64rem) {
  .container-community {
    padding-left: 2rem;
  }

  .container-default > h4 {
    margin-top: -2.5rem;
    margin-bottom: var(--chapter-inner-margin);
    font-weight: 400;
    font-size: 1.5rem;
  }
}

.image-chapter .container-default {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/***********************************************/

#home-resources.chapter {
  margin-bottom: 3rem; /* as long as there is no CTA */
}

@media (min-width: 64rem) {
  #home-skills.chapter {
    background: url(/assets/network.svg) repeat-x center 13rem;
  }
}

/***********************************************/

.bg-circles-primary {
  background-image: url(/assets/circle_primary.svg),
    url(/assets/circle_primary.svg), url(/assets/circle_primary.svg),
    url(/assets/circle_primary.svg);
  background-repeat: no-repeat;
  background-size: var(--circle-big-size), var(--circle-small-size),
    var(--circle-big-size), var(--circle-small-size);
  background-position: top 4rem left -6rem, top 5rem right 1.5rem,
    bottom 10rem right -6rem, bottom 15rem left 2rem;
}

@media (min-width: 64rem) {
  .bg-circles-primary {
    background-position: top calc(50% - 2rem) left -10rem,
      top calc(50% + 9rem) left 7rem, top calc(50% + 1rem) right -11rem,
      top calc(50% - 8rem) right 12rem;
  }
}

.btn-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--link-button-height);
  padding: var(--link-button-padding);
  border-radius: var(--link-button-border-radius);
  text-transform: uppercase;
  white-space: nowrap;
  font-family: var(--title-font);
  font-weight: 600;
}

.btn-link > img {
  height: calc(var(--link-button-height) / 2.5);
  margin-left: 1em;
}

/* Cards */
.cards {
  --cards-cell-gap: var(--chapter-inner-margin);

  display: grid;
  row-gap: var(--cards-cell-gap);
  column-gap: var(--cards-cell-gap);
  justify-content: center;
}

.cards-2 {
  grid-template-rows: repeat(2, auto);
  grid-template-columns: var(--cards-cell-width);
}

.cards-3 {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: var(--cards-cell-width);
}

.cards-4 {
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, var(--cards-cell-width));
}

.cards-6 {
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(2, var(--cards-cell-width));
}

.cards > li {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.cards > li > * {
  flex-grow: 1;
}

.cards-primary {
  --separator-color: var(--primary);
}

.cards-primary-alt {
  --separator-color: var(--primary-alt);
}

.cards-default {
  --cards-cell-width: minmax(0, 23.75rem); /* picture width 380px */
  text-align: left;
}

.cards-default > * {
  background-image: var(--bgi);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 1.5rem;
  box-shadow: 0px 18px 25px -18px rgba(76, 75, 94, 0.53);
  overflow: hidden;
  background-color: var(--white);
}

.cards-default article {
  padding: calc(85.8% + 1.5rem) 1.5rem 2rem;
}

.cards-default h4 {
  width: 66%;
  white-space: nowrap;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 4px solid var(--separator-color);
  font-size: 1.125rem;
}

.cards-video > li {
  position: relative;
  overflow: unset;
  margin-top: 2rem;
  margin-left: 0.5rem;
}

.cards-default.cards-video article {
  padding: calc(42% + 1.5rem) 1.5rem 2rem;
}

.cards-video .video-illus {
  position: absolute;
  top: -2rem;
  left: -0.5rem;
  width: 90%;
  height: 0;
  padding-top: 53%;
  background-size: cover;
  background-image: var(--bgi);
  border-radius: 1rem;
}

.cards-video .video-illus::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  left: 1rem;
  bottom: 1rem;
  background-image: url(/assets/button_video.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cards-naked {
  --cards-cell-width: minmax(0, 16rem);
  justify-content: center;
  text-align: center;
}

.image-chapter .cards-naked > * {
  border-radius: 1rem;
  background-color: var(--white);
  color: var(--grey);
}

.image-chapter .cards-naked article {
  padding: 2rem 1.5rem;
}

.cards-naked h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.cards-naked h4 > img {
  width: 1.5em;
  height: 1.5em;
}

.image-chapter .cards-naked h4 {
  font-size: 1.5rem;
}

.cards-skills h4 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  width: 5em;
  margin-bottom: 1.5rem;
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--white);
}

.cards-image {
  --cards-cell-width: minmax(0, 12rem);
  --cards-cell-gap: 0.5rem;
  color: var(--white);
  text-align: left;
}

.cards-image > li > a {
  background-image: url(/assets/arrow_forward.svg);
  background-repeat: no-repeat;
  background-position: bottom 0.5rem right 0.5rem;
  background-size: 0.875rem;
}

.cards-image article {
  padding: 0.75rem 0.5rem 0.5rem;
}

.cards-image > * {
  background-image: var(--bgi);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}
.cards-image > *::before {
  content: "";
  float: left;
  width: 0;
  height: 0;
  padding-bottom: 100%;
}

.cards-image h4 {
  margin-bottom: 0.5rem;
}

.cards-figures {
  --cards-cell-width: minmax(0, 8rem);
  line-height: 1.2;
}

.cards-figures h4 {
  font-size: 2.125rem;
}

blockquote {
  font-size: 1.25rem;
}

.naked-content {
  padding: 0 var(--chapter-padding-x) var(--chapter-padding-y);
}

.naked-content header {
  text-align: center;
  margin-bottom: var(--chapter-inner-margin);
}

.naked-content h4 {
  margin: 0.75em 0;
}

.naked-content p {
  margin-bottom: 0.75em;
}

.naked-content ul {
  margin-bottom: 0.75em;
  list-style: disc;
  padding-left: 1em;
}

.naked-content a[href] {
  text-decoration: underline;
}

.logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -0.5rem;
}

.logos li {
  width: 5rem;
  height: 1rem;
  margin: 0.5rem;

  background-image: var(--bgi);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
}

@media (min-width: 64rem) {
  .cards,
  .btn-link {
    font-size: 1rem;
  }

  .cards-default {
    justify-content: space-between;
  }

  .cards-default h4 {
    font-size: 1.375rem;
  }

  .cards-video {
    --cards-cell-gap: 3.5rem;
  }

  .cards-video .video-illus::after {
    bottom: 1.5rem;
    left: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
  }

  .cards-naked {
    --cards-cell-width: minmax(0, 18rem);
  }

  .cards-2 {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, var(--cards-cell-width));
  }

  .cards-3 {
    grid-template-rows: unset;
    grid-template-columns: repeat(3, var(--cards-cell-width));
  }

  .cards-4 {
    grid-template-rows: unset;
    grid-template-columns: repeat(4, var(--cards-cell-width));
  }

  .cards-6 {
    grid-template-columns: repeat(3, var(--cards-cell-width));
    grid-template-rows: repeat(2, auto);
  }

  .cards-naked h4 {
    flex-direction: row;
  }

  .cards-naked h4 > img {
    margin-right: 0.25em;
  }

  .cards-image {
    --cards-cell-width: minmax(0, 18.125rem);
    --cards-cell-gap: 1.5rem;
    justify-content: space-between;
    font-size: 1.125rem;
  }

  .cards-image article {
    padding: 1.5rem 1.5rem 2rem;
  }

  .cards-image h4 {
    font-size: 2.75rem;
  }

  .cards-image > li > a {
    background-position: bottom 0.875rem right 0.875rem;
    background-size: 1rem;
  }

  .cards-image article li + li {
    margin-top: 0.25rem;
  }

  .cards-figures {
    justify-content: space-around;
    --cards-cell-width: minmax(0, 12rem);
  }

  .cards-figures h4 {
    font-size: 2.75rem;
  }

  blockquote {
    font-size: 2rem;
  }

  .naked-content {
    max-width: 64rem;
    margin: 0 auto;
  }

  .logos {
    margin: -0.5rem -1.5rem;
  }

  .logos li {
    width: 15rem;
    height: 5rem;
    margin: 0.5rem 1.5rem;
    background-size: unset;
  }
}
