<head>
  <style>
    model-viewer {
      width: 100%;
      height: 100%;
    }
  </style>

  <!--https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js-->
  <!--"https://localhost:8080/model-viewer-legacy.js"-->
  <script src="https://localhost:8080/model-viewer-legacy.js"></script>
</head>
<body>
  <!--https://localhost:8080/laptop.glb-->
  <model-viewer
    src="https://localhost:8080/laptop.glb"
    auto-rotate
    camera-controls
  ></model-viewer>
</body>
