<head>
  <style>
    model-viewer {
      width: 100%;
      height: 100%;
    }
  </style>

  <!--https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js-->
  <!--"https://localhost:8080/model-viewer-legacy.js"-->
</head>
<body>
  <!--https://localhost:8080/laptop.glb-->
</body>
