<head>
  <style></style>

  <!--https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
  <!--https://cdn.jsdelivr.net/gh/mrdoob/three.js@r109/examples/js/loaders/GLTFLoader.js-->
  <script src="https://cdn.jsdelivr.net/gh/mrdoob/three.js@r109/examples/js/loaders/GLTFLoader.js"></script>
</head>
<body>
  <!--http://localhost:8080/earth.glb-->

  <script>
    window.onload = loaded;
    function loaded() {
      let scene = new THREE.Scene();
      let camera = new THREE.PerspectiveCamera(
        75,
        window.innerWidth / window.innerHeight,
        0.1,
        1000
      );

      camera.position.z = 75;

      var light = new THREE.DirectionalLight("#c1582d", 1);
      var ambient = new THREE.AmbientLight("#85b2cd");
      light.position.set(0, -70, 100).normalize();
      scene.add(light);
      scene.add(ambient);

      var renderer = new THREE.WebGLRenderer({ alpha: true });
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.body.appendChild(renderer.domElement);

      //load the model
      var loader = new THREE.GLTFLoader();

      let earth;

      loader.load("http://localhost:8080/earth.glb", function(gltf) {
        earth = gltf.scene;
        earth.position.set(0, -40, 0);
        scene.add(earth);
      });

      //render loop
      function animate() {
        requestAnimationFrame(animate);
        if (earth) {
          earth.rotation.y += 0.001;
        }
        renderer.render(scene, camera);
      }
      animate();
    }
  </script>
</body>
